USE [PokemonPals]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[AvatarId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[DiscordUsername] [nvarchar](max) NULL,
	[GameId] [int] NULL,
	[SwitchCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avatar]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avatar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Avatar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaughtPokemon]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaughtPokemon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[isOwned] [bit] NOT NULL,
	[PokemonId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[Nickname] [nvarchar](12) NULL,
	[Level] [int] NOT NULL,
	[CP] [int] NOT NULL,
	[GenderId] [int] NOT NULL,
	[isHidden] [bit] NOT NULL,
	[isFavorite] [bit] NOT NULL,
	[isTradeOpen] [bit] NOT NULL,
	[DateCaught] [datetime2](7) NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_CaughtPokemon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 10/8/2020 2:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PokedexNumber] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[Type1] [nvarchar](max) NOT NULL,
	[Type2] [nvarchar](max) NULL,
	[DefaultSpriteURL] [nvarchar](max) NOT NULL,
	[RBSpriteURL] [nvarchar](max) NOT NULL,
	[OfficialArtURL] [nvarchar](max) NOT NULL,
	[HP] [int] NOT NULL,
	[Attack] [int] NOT NULL,
	[Defense] [int] NOT NULL,
	[SpecialAttack] [int] NOT NULL,
	[SpecialDefense] [int] NOT NULL,
	[Speed] [int] NOT NULL,
 CONSTRAINT [PK_Pokemon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Avatar] ON 

INSERT [dbo].[Avatar] ([Id], [ImageURL], [Name]) VALUES (1, N'https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png', N'Bulbasaur')
INSERT [dbo].[Avatar] ([Id], [ImageURL], [Name]) VALUES (2, N'https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png', N'Charmander')
INSERT [dbo].[Avatar] ([Id], [ImageURL], [Name]) VALUES (3, N'https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png', N'Squirtle')
SET IDENTITY_INSERT [dbo].[Avatar] OFF
SET IDENTITY_INSERT [dbo].[CaughtPokemon] ON 

INSERT [dbo].[CaughtPokemon] ([Id], [isOwned], [PokemonId], [UserId], [Nickname], [Level], [CP], [GenderId], [isHidden], [isFavorite], [isTradeOpen], [DateCaught], [Comment]) VALUES (4, 1, 4, N'01effcb6-1397-4937-8dac-6daaa2049537', NULL, 17, 189, 1, 0, 0, 0, CAST(N'2020-09-24T10:59:11.7100000' AS DateTime2), N'From a trade with Matt')
INSERT [dbo].[CaughtPokemon] ([Id], [isOwned], [PokemonId], [UserId], [Nickname], [Level], [CP], [GenderId], [isHidden], [isFavorite], [isTradeOpen], [DateCaught], [Comment]) VALUES (5, 1, 27, N'01effcb6-1397-4937-8dac-6daaa2049537', N'Pika', 60, 5781, 2, 0, 1, 0, CAST(N'2020-08-06T11:54:07.6540000' AS DateTime2), NULL)
INSERT [dbo].[CaughtPokemon] ([Id], [isOwned], [PokemonId], [UserId], [Nickname], [Level], [CP], [GenderId], [isHidden], [isFavorite], [isTradeOpen], [DateCaught], [Comment]) VALUES (7, 1, 38, N'01effcb6-1397-4937-8dac-6daaa2049537', N'Treble', 49, 2600, 2, 0, 1, 0, CAST(N'2020-08-31T14:52:32.3310000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CaughtPokemon] OFF
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([Id], [Name], [ImageURL]) VALUES (1, N'Red and Blue', N'https://upload.wikimedia.org/wikipedia/en/a/af/Pok%C3%A9mon_Red_and_Blue_cover_art.webp')
INSERT [dbo].[Game] ([Id], [Name], [ImageURL]) VALUES (2, N'Yellow', N'https://upload.wikimedia.org/wikipedia/en/4/4a/Pokemon_Yellow.png')
INSERT [dbo].[Game] ([Id], [Name], [ImageURL]) VALUES (3, N'Gold and Silver', N'https://upload.wikimedia.org/wikipedia/en/a/af/Pok%C3%A9mon_Red_and_Blue_cover_art.webp')
SET IDENTITY_INSERT [dbo].[Game] OFF
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Name], [ImageURL]) VALUES (1, N'Male', NULL)
INSERT [dbo].[Gender] ([Id], [Name], [ImageURL]) VALUES (2, N'Female', NULL)
INSERT [dbo].[Gender] ([Id], [Name], [ImageURL]) VALUES (3, N'Genderless', NULL)
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[Pokemon] ON 

INSERT [dbo].[Pokemon] ([Id], [Name], [PokedexNumber], [Height], [Weight], [Type1], [Type2], [DefaultSpriteURL], [RBSpriteURL], [OfficialArtURL], [HP], [Attack], [Defense], [SpecialAttack], [SpecialDefense], [Speed]) VALUES (3, N'Bulbasaur', 1, 7, 69, N'Grass', N'Poison', N'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png', N'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/1.png', N'https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png', 45, 49, 49, 65, 65, 45)
INSERT [dbo].[Pokemon] ([Id], [Name], [PokedexNumber], [Height], [Weight], [Type1], [Type2], [DefaultSpriteURL], [RBSpriteURL], [OfficialArtURL], [HP], [Attack], [Defense], [SpecialAttack], [SpecialDefense], [Speed]) VALUES (4, N'Ivysaur', 2, 10, 130, N'Grass', N'Poison', N'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png', N'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/2.png', N'https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png', 60, 62, 63, 80, 80, 60)
INSERT [dbo].[Pokemon] ([Id], [Name], [PokedexNumber], [Height], [Weight], [Type1], [Type2], [DefaultSpriteURL], [RBSpriteURL], [OfficialArtURL], [HP], [Attack], [Defense], [SpecialAttack], [SpecialDefense], [Speed]) VALUES (5, N'Venusaur', 3, 20, 1000, N'Grass', N'Poison', N'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png', N'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/3.png', N'https://assets.pokemon.com/assets/cms2/img/pokedex/full/003.png', 80, 82, 83, 100, 100, 80)
GO
SET IDENTITY_INSERT [dbo].[Pokemon] OFF
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [Discriminator]
GO
ALTER TABLE [dbo].[Avatar] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[CaughtPokemon] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateCaught]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Avatar_AvatarId] FOREIGN KEY([AvatarId])
REFERENCES [dbo].[Avatar] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Avatar_AvatarId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Game_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Game_GameId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CaughtPokemon]  WITH CHECK ADD  CONSTRAINT [FK_CaughtPokemon_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CaughtPokemon] CHECK CONSTRAINT [FK_CaughtPokemon_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CaughtPokemon]  WITH CHECK ADD  CONSTRAINT [FK_CaughtPokemon_Gender_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CaughtPokemon] CHECK CONSTRAINT [FK_CaughtPokemon_Gender_GenderId]
GO
ALTER TABLE [dbo].[CaughtPokemon]  WITH CHECK ADD  CONSTRAINT [FK_CaughtPokemon_Pokemon_PokemonId] FOREIGN KEY([PokemonId])
REFERENCES [dbo].[Pokemon] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CaughtPokemon] CHECK CONSTRAINT [FK_CaughtPokemon_Pokemon_PokemonId]
GO
