.collection-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.collection-card {
    border-radius: 8px;
    background-color: #ff9f9a;
    padding: 1em;
    flex-basis: 18%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1em;
}

    .collection-card:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    }

.colleciton-card-info{
    padding: 10px;
}

.collection-card-info > .row{
    margin: 0;
}

.collection-sort{
    text-align: center;
}