@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h4>Create a new account.</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label asp-for="Input.Description" class="control-label"></label>
                <textarea asp-for="Input.Description" class="form-control" rows="3" placeholder="Tell us a little about yourself!">
                    
                </textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SwitchCode"></label>
                <input asp-for="Input.SwitchCode" class="form-control" />
                <span asp-validation-for="Input.SwitchCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DiscordUsername"></label>
                <input asp-for="Input.DiscordUsername" class="form-control" />
                <span asp-validation-for="Input.DiscordUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.GameId" class="control-label">Favorite Pokemon game</label>
                <select asp-for="Input.GameId" class="form-control" asp-items="Model.Input.GameItems"></select>
            </div>
            <div class="form-group">
                <label asp-for="Input.AvatarId" class="control-label">Favorite Starter</label>
                <select asp-for="Input.AvatarId" class="form-control" asp-items="Model.Input.AvatarItems"></select>
            </div>
        </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
