@model PokemonPals.Models.ViewModels.CaughtPokemonCreateViewModel;

@{
    ViewData["Title"] = "Create";
}

@{
    string anOrA = "a";

    //Will display "a" or "an" depending on whether the Pokemon's name begins with a vowel
    if (Model.SelectedPokemon.Name[0] == 'A' || Model.SelectedPokemon.Name[0] == 'E' || Model.SelectedPokemon.Name[0] == 'I' || Model.SelectedPokemon.Name[0] == 'O' || Model.SelectedPokemon.Name[0] == 'U')
    {
        anOrA = "an";
    }
    else
    {
        anOrA = "a";
    }

    <div class="global-header">
        <img class="sprite-img" src="@Model.SelectedPokemon.RBSpriteURL" />
        <h1>You caught @anOrA @Model.SelectedPokemon.Name!!</h1>
    </div>
}

@*A container for all of the text-input fields and checkboxes shown when a user catches a Pokemon. Corresponds to all the properties of CaughtPokemon.*@
<div class="row">
    <div class="caught-create-info-card col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PokemonToAdd.PokemonId" selected=SelectedPokemon.Id />
            <div class="form-group">
                <label asp-for="PokemonToAdd.Nickname" class="control-label"></label>
                <input asp-for="PokemonToAdd.Nickname" class="form-control" />
                <span asp-validation-for="PokemonToAdd.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.Level" class="control-label"></label>
                <input asp-for="PokemonToAdd.Level" class="form-control" />
                <span asp-validation-for="PokemonToAdd.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.CP" class="control-label"></label>
                <input asp-for="PokemonToAdd.CP" class="form-control" />
                <span asp-validation-for="PokemonToAdd.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.GenderId" class="control-label">Gender</label>
                <select asp-for="PokemonToAdd.GenderId" class="form-control" asp-items="Model.Genders"></select>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.DateCaught" class="control-label">Date Caught</label>
                <input asp-for="PokemonToAdd.DateCaught" class="form-control" />
                <span asp-validation-for="PokemonToAdd.DateCaught" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.Comment" class="control-label"></label>
                <textarea asp-for="PokemonToAdd.Comment" class="form-control" rows="4" placeholder="Insert searchable comments for this Pokemon">
                    
                </textarea>
                <span asp-validation-for="PokemonToAdd.Comment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PokemonToAdd.isFavorite" /> This Pokemon is a Favorite
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PokemonToAdd.isTradeOpen" /> I'd be willing to trade this Pokemon away
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn global-btn" />
            </div>
        </form>
    </div>
</div>

@*A link to take the user back to the Dex view*@
<div class="back-btn-container">
    <a asp-controller="Pokemon" asp-action="Dex">Back to Dex</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
