@model PokemonPals.Models.ViewModels.CaughtPokemonCreateViewModel;

@{
    ViewData["Title"] = "Create";
}

@{
    string capitalName = char.ToUpper(Model.SelectedPokemon.Name[0]) + Model.SelectedPokemon.Name.Substring(1);
    string anOrA = "a";
    if (capitalName[0] == 'A' || capitalName[0] == 'E' || capitalName[0] == 'I' || capitalName[0] == 'O' || capitalName[0] == 'U')
    {
        anOrA = "an";
    }
    else
    {
        anOrA = "a";
    }

<div class="global-header">
    <img class="sprite-img" src="@Model.SelectedPokemon.RBSpriteURL" />
    <h1>You caught @anOrA @capitalName!!</h1>
</div>
}

<div class="row">
    <div class="caught-create-info-card col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PokemonToAdd.PokemonId" selected=SelectedPokemon.Id/>
            <div class="form-group">
                <label asp-for="PokemonToAdd.Nickname" class="control-label"></label>
                <input asp-for="PokemonToAdd.Nickname" class="form-control" />
                <span asp-validation-for="PokemonToAdd.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.Level" class="control-label"></label>
                <input asp-for="PokemonToAdd.Level" class="form-control" />
                <span asp-validation-for="PokemonToAdd.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.CP" class="control-label"></label>
                <input asp-for="PokemonToAdd.CP" class="form-control" />
                <span asp-validation-for="PokemonToAdd.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.GenderId" class="control-label">Gender</label>
                <select asp-for="PokemonToAdd.GenderId" class="form-control" asp-items="Model.Genders"></select>
            </div>
            <div class="form-group">
                <label asp-for="PokemonToAdd.DateCaught" class="control-label">Date Caught</label>
                <input asp-for="PokemonToAdd.DateCaught" class="form-control" />
                <span asp-validation-for="PokemonToAdd.DateCaught" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PokemonToAdd.isFavorite" /> This Pokemon is a Favorite
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PokemonToAdd.isTradeOpen" /> I'd be willing to trade this Pokemon away
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn global-btn" />
            </div>
        </form>
    </div>
</div>

    <div class="back-btn-container">
        <a asp-controller="Pokemon" asp-action="Dex">Back to Dex</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
