@model PokemonPals.Models.ViewModels.CaughtPokemonEditViewModel;

@{
    ViewData["Title"] = "Edit";
}

@{
    //A string for holding the Pokemon's capitalized name
    string capitalName = char.ToUpper(Model.SelectedCaughtPokemon.Pokemon.Name[0]) + Model.SelectedCaughtPokemon.Pokemon.Name.Substring(1);

    //A header that displays either the Pokemon's nickname OR their species name, along with a sprite image
    <div class="global-header">
        <img class="sprite-img" src="@Model.SelectedCaughtPokemon.Pokemon.RBSpriteURL" />
        @if (Model.SelectedCaughtPokemon.Nickname != null)
        {
            <h1 class="dex-details-red-text">
                Want to edit @Model.SelectedCaughtPokemon.Nickname?
            </h1>
        }
        else
        {
            <h1 class="dex-details-red-text">
                Want to edit @capitalName?
            </h1>
        }
    </div>
}

@*A container to hold all of the text-input fields, checkboxes, and dropdowns for editing a Pokemon's info*@
<div class="row">
    <div class="caught-create-info-card col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SelectedCaughtPokemon.Id" />
            <input type="hidden" asp-for="SelectedCaughtPokemon.UserId" />
            @*A dropdown that lets the user change the species of the Pokemon. Useful if they created the wrong Pokemon, or if their Pokemon evolves in-game*@
            <div class="form-group">
                <label asp-for="SelectedCaughtPokemon.PokemonId" class="control-label">Species</label>
                <select asp-for="SelectedCaughtPokemon.PokemonId" class="form-control" asp-items="Model.AllPokemon"></select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCaughtPokemon.Nickname" class="control-label"></label>
                <input asp-for="SelectedCaughtPokemon.Nickname" class="form-control" />
                <span asp-validation-for="SelectedCaughtPokemon.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCaughtPokemon.Level" class="control-label"></label>
                <input asp-for="SelectedCaughtPokemon.Level" class="form-control" />
                <span asp-validation-for="SelectedCaughtPokemon.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCaughtPokemon.CP" class="control-label"></label>
                <input asp-for="SelectedCaughtPokemon.CP" class="form-control" />
                <span asp-validation-for="SelectedCaughtPokemon.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCaughtPokemon.GenderId" class="control-label">Gender</label>
                <select asp-for="SelectedCaughtPokemon.GenderId" class="form-control" asp-items="Model.Genders"></select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCaughtPokemon.DateCaught" class="control-label">Date Caught</label>
                <input asp-for="SelectedCaughtPokemon.DateCaught" class="form-control" />
                <span asp-validation-for="SelectedCaughtPokemon.DateCaught" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCaughtPokemon.Comment" class="control-label"></label>
                <textarea asp-for="SelectedCaughtPokemon.Comment" class="form-control" rows="4" placeholder="Insert searchable comments for this Pokemon">
                    
                </textarea>
                <span asp-validation-for="SelectedCaughtPokemon.Comment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SelectedCaughtPokemon.isFavorite" /> This Pokemon is a Favorite
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SelectedCaughtPokemon.isTradeOpen" /> I'd be willing to trade this Pokemon away
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn global-btn" />
            </div>
        </form>
    </div>
</div>

@*Can direct the user back to the Dex view OR to the Delete view. Pokemon can only be deleted from this Edit view.*@
<div class="back-btn-container">
    <a asp-action="Delete" asp-route-id="@Model.SelectedCaughtPokemon.Id">Remove from Collection</a>
    <br />
    <a asp-controller="Pokemon" asp-action="Dex">Back to Dex</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}